<nav>
   <a href="/">Index</a>
   <a href="/about">About</a>
   <a href="/contact">Contact</a>
</nav>

<script>
   import { prefetch } from 'astro:prefetch'

   document.addEventListener('astro:page-load', () => {
      prefetch('/', { with: 'fetch' })
      prefetch('/about', { with: 'fetch' })
      prefetch('/contact', { with: 'fetch' })
   })
</script>
